@use "../abstracts/" as *;
@use "./reset" as *;

body {
  font-family: $primaryFont;
  background: $primaryColor;
  box-sizing: border-box;
  margin: 2rem 0;
  // background-image: url('../../images/bg.jpg');
  overflow-x: hidden;

  @include mq("s") {
    margin: 1rem 0;
  }
}

main {
  margin-top: 12rem;

  @include mq("s") {
    margin-top: 7.5rem;
  }

  @include mq("m") {
    margin-top: 9rem;
  }

  @include mq("l") {
    margin-top: 10rem;
  }
}
